.movie {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 20px;
    cursor: pointer;
    place-items: center;
}

.movie img {
    max-width: 100%;
    min-height: 100%;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}

.movie img {
    opacity: 0.7;
}

.movie img:hover {
    opacity: 1;
}

.movie p, .movie a {
    text-align: center;
}

.categoriesContainer {
    max-width: 50%;
    border-radius: 40px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 40px;
    background: #2d2d2d;
    color: #fff;
}
a.active {
    color: salmon;
}